@import '~@fontsource/work-sans/index.css';
@import '~@fontsource/source-serif-pro/index.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

.container {
	width: 90%;
	margin: 0 auto;
}

button {
	font-family: 'Work Sans';
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
}
