// Color Cube
$white: #ffffff;
$tobaccoBrown: #6a5243;
$codGray: #0e0e0d;
$manatee: #929295;
$atoll: #0a5e6c;
$chalky: #f0caa1;
$rawSienna: #d68843;
$perfume: #bda2f3;
$daisyBush: #5b2ca2;
$japaneseLaurel: #287a00;

//Median Cut
$outerSpace: #282d2c;
$pearlBush: #e9dedc;
$millbrook: #694a3a;
$leather: #9f7651;
$mamba: #878589;

//Material Design
$driftwood_vibrant: #b77c49;
$sandrift_muted: #b2927b;
$atoll_darkVibrant: #086875;
$limedSpruce_darkMuted: #344747;
$tan_lightVibrant: #d6b28d;
